table, th, td {
    border: 1px dotted black;
    border-collapse: collapse;
    vertical-align: text-top;
  }

  #heading3
  {
    color: brown;
  }

  .heading4
  {
    color: coral;
  }
  
  input:checked
  {
    width: 30px;
  }

  div::before
  {
    content: "Hello ";
  }

  #tagh div{ /*เอาทั้งหมด*/
    color: gold;
  }

  #tagh > div{ /*เอาเฉพาะลูกติด*/
    color: hotpink;
  }